@use 'sass:color';

$bg: #392227EE !default;
$fg: #fde !default;
$accent-color: #ff7790 !default;


$bgh: color.adjust($bg, $lightness: 5%);

window {
    background: transparent;
}
 
.bar {
    background-color: color.adjust($bg, $lightness: -7%);
    border-radius: 16px;
    color: #e0e0e6;
    padding: 8px 6px;
    font-family: monospace;
    margin: 8px 8px;

    .logo {
        font-size: 28px;
        color: $fg;
        background: linear-gradient(
            color.adjust($accent-color, $lightness: 6%),
            color.adjust($accent-color, $lightness: -6%)
        );
        min-height: 46px;
        min-width: 46px;
        margin: 0px;
        padding: 0px;
        border-radius: 12px;
    }

    .workspaces {
        font-size: 20px;
        color: $fg;
        background: $bg;
        margin: 0px;
        border-radius: 12px;
        padding: 8px 0px;

        .workspace {
            color: $bg;
            font-weight: bold;
            background: color.adjust($fg, $alpha: -0.25);
            border-radius: 10px;
            padding: 2px 0px;
            transition: .3s;
            font-size: 16px;
            transition: 0.3s;

            &:hover {
                background: color.adjust($fg, $alpha: -0.15);
            }


            &.inactive {
                color: color.adjust($fg, $alpha: -0.5);
                font-weight: normal;
                background: transparent;
                padding: 0px 0px;
                transition: 0.3s;

                &:hover {
                    background: color.adjust($fg, $alpha: -0.85);
                }
            }

            &.current {
                color: color.adjust($fg, $alpha: 0.05);
                font-weight: 900;
                background: $accent-color;
                min-height: 32px;
                border-radius: 12px;
                transition: 0.3s;

                &:hover {
                    background: color.adjust($accent-color, $alpha: -0.1);
                }
            }
        }
    }

    .volume, .brightness, .wifi, .battery {
        background: $bg;
        border-radius: 12px;
        padding: 8px;
        color: color.adjust($accent-color, $lightness: 10%);
        transition: .3s;

        &:hover {
            background-color: $bgh;
        }

        .icon {
            font-size: 20px;
            line-height: 18px;
        }

        .value {
            font-size: 14px;
        }
    }

    .volume {
        &.muted {
            color: #fff8;
        }
    }

    .wifi {
        .icon {
            padding: 8px;
            margin-left: -6px;
        }
    }

    .battery {
        &.charging {
            background: linear-gradient($bg 30%, color.mix($bg, #9f88) 75%, #99ff8a88);
        }

        &.critical {
            background: linear-gradient($bg 30%, color.mix($bg, #f458) 75%, #ff445688);
        }
    }

    .brightness {
        .icon {
            margin-left: -6px;
        }
    }

    .clock {
        font-size: 18px;
        font-weight: 900;
        background: $bg;
        border-radius: 12px;
        padding: 8px;
        line-height: 24px;
        color: $fg;
    }

    &.horizontal {
        .workspaces {
            padding: 0px 8px;

            .workspace.current {
                min-height: none !important;
                padding: 0px 6px;
            }
        }

        .value {
            margin-left: 4px;
        }

        .brightness .icon {
            margin-left:0px;
            margin-right:4px;
        }
    }
}
