@define-color bg #392228EE;
@define-color bgh #493239EE;
 
window {
    background: transparent;
}
 
.bar {
    background-color: #221113EE;
    border-radius: 16px;
    color: #e0e0e6;
    padding: 8px 6px;
    font-family: monospace;
    margin: 8px 8px;
}

.logo {
    font-size: 28px;
    color: #FDE;
    background: linear-gradient(#F89, #F57);
    min-height: 46px;
    min-width: 46px;
    margin: 0px;
    padding: 0px;
    border-radius: 12px;
}

.workspaces {
    font-size: 20px;
    color: #FDE;
    background: @bg;
    /* min-height: 36px; */
    margin: 0px;
    border-radius: 12px;
    padding: 8px 0px;
}

.bar.horizontal .workspaces {
    padding: 0px 8px;
}


.volume, .brightness, .wifi, .battery {
    background: @bg;
    border-radius: 12px;
    padding: 8px;
    color: #f9a;
    transition: .3s;
}

.volume:hover, .brightness:hover, .wifi:hover, .battery:hover {
    background-color: @bgh;
}

.wifi {
    min-height: 32px;
    min-width: 28px;
    padding-right: 11px;
    padding-left: 6px;
    font-size: 20px;
}



.workspace {
    color: #322;
    font-weight: bold;
    background: #fcda;
    border-radius: 10px;
    padding: 2px 0px;
    transition: .3s;
    font-size: 16px;
    transition: 0.3s;
}

.workspace:hover {
    background: #fcdc;
}

.workspace-inactive {
    color: #fff8;
    font-weight: normal;
    background: transparent;
    padding: 0px 0px;
    transition: 0.3s;
}

.workspace-inactive:hover {
    background: #fcd3;
}



.workspace-current {
    color: #322;
    font-weight: 900;
    background: #f79;
    min-height: 32px;
    border-radius: 12px;
    transition: 0.3s;
}

.bar.horizontal .workspace-current {
    min-height: none !important;
    padding: 2px 6px;
}
 



.muted {
    color: #fff8;
}

.brightness-icon {
    margin-left: -6px;
}

.volume-icon,  .brightness-icon, .wifi-icon, .battery-icon {
    font-size: 20px;
    line-height: 18px;
}
.volume-value, .brightness-value, .battery-value {
    font-size: 14px;
}
 
.clock {
    font-size: 18px;
    font-weight: 900;
    background: @bg;
    border-radius: 12px;
    padding: 8px;
    line-height: 24px;
}

.charging {
    background: linear-gradient(@bg 30%, #596258EE 75%, #99ff8a88);
}

.critical {
    background: linear-gradient(@bg 30%, #995958EE 75%, #ff445688);
}
